<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width = device-width; initial-scale=1">
        <title>GeoLocation API演示程序</title>
         {literal}
        <script type="text/javascript">
 function getLocation() {
    //成功回调
    var success = function (position) {
        var lat = position.coords.latitude; //纬度
        var lng = position.coords.longitude; //经度
        document.write("lat=" + lat + " - lng=" + lng);
    }
 
    //错误回调
    var error = function (error) {
 
        switch (error.code) {
            case error.PERMISSION_DENIED:
                document.write("定位失败,您拒绝了使用位置共享服务");
                break;
            case error.POSITION_UNAVAILABLE:
                document.write("定位失败,网络不可用或链接失败");
                break;
            case error.TIMEOUT:
                document.write("定位失败,请求获取用户位置超时");
                break;
            case error.UNKNOWN_ERROR:
                document.write("定位失败,请重试");
                break;
        }
    }
    //获取定位
    if (navigator.geolocation) {
        console.info(navigator.geolocation.getCurrentPosition);
        navigator.geolocation.getCurrentPosition(success, error, {
            enableHighAccuracy: true,
            timeout: 15000
        });
    } else {
        document.write("你的浏览器不支持定位功能");
    }
}
  </script>
         {/literal}
    </head>
 
    <body>
                <input type="button" value="我的位置" onclick="getLocation()"/>
    </body>
</html>