<!DOCTYPE HTML>
<html>
  <head>
    <title>登录信息</title>
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="expires" content="0">    
	<meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
  </head>
  
  <body>
      <div>当前位置：登录成功页</br>
          <img src="{$smarty.const.PUBLIC_URL}/img/lock.png" height="80px" width="80px"/>
        {$smarty.session.admin_name} 欢迎进入网站管理中心
      </div>
      <div>
          <div><img src="{$smarty.session.admin.admin_logo_url}" alt="头像"/></div>
          <div>登录账号：{$smarty.session.admin.admin_name}</div>
          <div>昵称：{$smarty.session.admin.admin_nickname}</div>
          <div>邮箱：{$smarty.session.admin.admin_email}</div>
          <div>电话：{$smarty.session.admin.admin_phone}</div>
          <div>创建时间：{$smarty.session.admin.create_time}</div>
          <div>上次登录：{$smarty.session.admin.last_login_time}</div>
          <div>上次登录ip：{$smarty.session.admin.last_login_ip}</div>
      </div>
  </body>
</html>