<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>普通用户</title>
    <link rel="shortcut icon" href="favicon.ico">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
                {include file="../inc/cssall_mobile.html"}
  </head>
  
  <body>
      <div data-role="page" >      
          <div data-role="main" >                                       
                                        <div data-role="content">
                                                <i class="zmdi zmdi-account"></i>用户管理/<a href="{$smarty.const.__MODULE__}/ManageUser/userList" data-ajax='false'>普通用户</a>
                                                /<a href="{$smarty.const.__MODULE__}/ManageUser/userTrashList" data-ajax='false'>回收站</a>
 {if $uinfo|@count eq 0}   
        <p>暂无记录！</p>
 {else}     
 {$page}
    {foreach $uinfo as $k=>$v}<hr>
    <div class="mobile-table">
        <h1 class="nd2-title2 mobile-tr">序号：{$v.user_id}  用户名：{$v.user_name}</h1>
        <div class="mobile-tr-tds">
            <table>
                <tr><td>昵称:</td><td>{$v.user_nickname}</td></tr>
                <tr><td>手机:</td><td>{$v.user_phone}</td></tr>
                <tr><td>邮箱:</td><td>{$v.user_email}</td></tr>
                <tr><td>真名:</td><td>{$v.user_truename}</td></tr>
                <tr><td>操作</td><td>
                        <a href="###"  class="ui-btn ui-btn-inline clr-primary" title="删除"><i class='zmdi zmdi-edit'></i>删除</a>
                        <a href="javascript:void(0);" class="ui-btn ui-btn-inline clr-green" title="还原" onclick="saveData('{$v.user_id}','valid_flag','1')"><i class='zmdi zmdi-refresh'></i>还原</a>
                    </td></tr>
            </table>
        </div>
    </div>
    {/foreach}
 {/if}
                                        </div>
          </div>
                {include file="../inc/jsall_mobile.html"}
<script>
    var controller_path = '{$smarty.const.__CONTROLLER__}';
{literal}
function saveData(id, column, value) {
    if(!/^\d{6}$/.test(id)||!/^[A-Za-z_]+$/.test(column))
        return;
    $.ajax({ 
	url:controller_path+"/saveUserOneField/r="+new Date().getTime(), 
	type:"post", 
	data:{id:id,column:column,value:value},
	async:false,
	dataType:"json",
	success:function(data){
		if(data.retval == 'ok'){
                    location.reload();
		} else {
                    alert(data.retinfo);
                    return;
                }
	}
    });
}
{/literal}
</script>
      </div>
  </body>
</html>