
        <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="http://apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
        <script src="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<!--        <script src="{$smarty.const.PUBLIC_URL}Mobile/js/jquery.mobile-1.4.5.min.js"></script>-->
        <script src="{$smarty.const.PUBLIC_URL}Mobile/vendor/waves/waves.min.js"></script>
        <script src="{$smarty.const.PUBLIC_URL}Mobile/vendor/wow/wow.min.js"></script>
        <script src="{$smarty.const.PUBLIC_URL}Mobile/js/nativedroid2.js"></script>
        <script src="{$smarty.const.PUBLIC_URL}Mobile/js/nd2settings.js"></script>
        <script>
        {literal}
        $(document).ready(function(){
            $(".mobile-tr-tds").hide();
            $(document).on("touchend",".mobile-tr",function(){
                var tr = $(this);
                var tds = tr.parent(".mobile-table").find(".mobile-tr-tds");
                if(tds.is(":hidden")){
                    tds.show();
                }else{
                    tds.hide();
                }
            });
        });
        {/literal}
        </script>