<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>{$smarty.session.lang.INDEX_TITLE}</title>
    <link rel="shortcut icon" href="{$smarty.const.PUBLIC_URL}favicon.ico">
    
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="expires" content="0">    
	<meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
	<script type="text/javascript" src="{$smarty.const.PUBLIC_URL}Admin/js/admin.js"></script>
	{include file="../inc/cssall.html"}
        {literal}
	<script type="text/javascript">
	function showTime(){
		
		var timeId = document.getElementById("timeId");
		var x  = new Array("星期日", "星期一", "星期二","星期三","星期四", "星期五","星期六");
		var now = new Date();
		var d = now.getDay();
		var year = now.getFullYear();       //年
        var month = now.getMonth() + 1;     //月
        var day = now.getDate();            //日
       
        var hh = now.getHours();            //时
        var mm = now.getMinutes();          //分
        var ss = now.getSeconds();          //分
		var clock = year + "-";
        if(month < 10)
            clock += "0";
        clock += month + "-";
        if(day < 10)
            clock += "0";
        clock += day + "   ";
        if(hh < 10)
            clock += "0";
        clock += hh + ":";
        if (mm < 10) clock += '0'; 
        clock += mm + ":"; 
        if (ss < 10) clock += '0'; 
        clock += ss; 
		timeId.innerHTML = clock+"   " +x[d];
		window.setTimeout(showTime,1000);
	}
	</script>
        {/literal}
  </head>
  
  <body onload="showTime()">
  		<div class="navbar" style="background: #5795BA;">
		<div class="navbar-inner" style="background: #5795BA;">
			<div class="container-fluid">

                            <div class="btn-group pull-right" style="margin: 0;padding: 0">
                                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" style="padding: 3px">
						<i class="icon-user"></i><span>{$smarty.session.admin_name}</span>
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="Admin/pages/updatePassword.jsp" target="contentIframe"><i class="icon-lock"></i>修改密码</a></li>
						<li class="divider"></li>
						
						<li><a href="javascript:void(0);" onclick="javascript:confirm('确定要退出吗？')?location.href='{$smarty.const.__CONTROLLER__}/logout':''"><i class="icon-retweet"></i>退出</a></li>
					</ul>
				</div>
                                <span class="pull-right" style="margin-top: 6px;margin-right: 5px;cursor: pointer">
                                <a style="color:white;">欢迎页</a>|
                                <a style="color:white;">欢迎页</a>|
                                <a style="color:white;" href="{$smarty.const.__CONTROLLER__}/defaultPage" target="contentIframe">欢迎页</a>
                                </span>
                                <h3 style="color:black;font-size: 20px;font-weight:bolder;">{$smarty.session.lang.WEB_NAME}</h3>
                                <div class="pull-right">
                                    {if $smarty.session.lang_type neq 'zh-cn'}
                                    <a href="?l=zh-cn" style='color: white'>{$smarty.session.lang.ZH_CN}</a>
                                    {else}{$smarty.session.lang.ZH_CN}{/if}|
                                    {if $smarty.session.lang_type neq 'en-us'}
                                    <a href="?l=en-us" style='color: white'>{$smarty.session.lang.EN_US}</a>
                                    {else}{$smarty.session.lang.EN_US}{/if}
                                </div>
				<div id="timeId"></div>
<!--				<div class="top-nav nav-collapse">
					<ul class="nav">
						<li><h3 style="color:black;font-size: 20px;font-weight:bolder;">网上商城管理系统</h3></li>									
					</ul>
				</div>/.nav-collapse -->
			</div>
		</div>
	</div>
    <div class="container-fluid">
		<div class="row-fluid">
		
            <div class="span2">
				<div class="well sidebar-nav">
					<ul class="nav nav-tabs nav-stacked main-menu">
                                            {foreach $auth_infoA as $k=>$v}
                                                <li class="nav-header hidden-tablet">{$v.auth_name}</li>
                                                {foreach $auth_infoB as $kk=>$vv}
                                                    {if $vv.auth_pid == $v.auth_id}
                                                    <li><a class="ajax-link" href="{$smarty.const.__MODULE__}/{$vv.auth_c}/{$vv.auth_a}" target="contentIframe">{if $vv.auth_icon}<i class="icon-{$vv.auth_icon}"></i>{/if}<span class="hidden-tablet">&nbsp;{$vv.auth_name}</span></a></li>
                                                    {/if}
                                                {/foreach}
                                            {/foreach}
                                            <!--
						<li class="nav-header hidden-tablet">用户管理</li>
						
                                <li><a class="ajax-link" href="getUserPagerServlet" target="contentIframe"><i class="icon-user"></i><span class="hidden-tablet">&nbsp;普通用户</span></a></li>
 						<li class="nav-header hidden-tablet">订单管理</li>
 						
								<li><a class="ajax-link" href="getOrderPagerServlet" target="contentIframe"><i class="icon-zoom-in"></i><span class="hidden-tablet">&nbsp;所有订单</span></a></li>
								<li><a class="ajax-link" href="getOrderNotSendPagerServlet" target="contentIframe"><i class="icon-remove-circle"></i><span class="hidden-tablet">&nbsp;未发货订单</span></a></li>
								<li><a class="ajax-link" href="getOrderSendPagerServlet" target="contentIframe"><i class="icon-ok-circle"></i><span class="hidden-tablet">&nbsp;已发货订单</span></a></li>
								<li><a class="ajax-link" href="getOrderFreezePagerServlet" target="contentIframe"><i class="icon-ban-circle"></i><span class="hidden-tablet">&nbsp;已确认收货订单</span></a></li>
								
						<li class="nav-header hidden-tablet">商品管理</li>
                         
						        <li><a class="ajax-link" href="allowAddSuperServlet" target="contentIframe"><i class="icon-list"></i><span class="hidden-tablet">&nbsp;类别管理</span></a></li>
								<li><a class="ajax-link" href="allowAddGoodsServlet" target="contentIframe"><i class="icon-plus-sign"></i><span class="hidden-tablet">&nbsp;添加商品</span></a></li>
								<li><a class="ajax-link" href="getGoodsPagerServlet" target="contentIframe"><i class="icon-search"></i><span class="hidden-tablet">&nbsp;查看商品</span></a></li>
								
                          <li class="nav-header hidden-tablet">公告管理</li>
                          
                         		<li><a class="ajax-link" href="Admin/pages/addInform.jsp" target="contentIframe"><i class="icon-plus-sign"></i><span class="hidden-tablet">&nbsp;添加公告</span></a></li>
								<li><a class="ajax-link" href="getInformPagerServlet" target="contentIframe"><i class="icon-search"></i><span class="hidden-tablet">&nbsp;查看公告</span></a></li>
			             <li class="nav-header hidden-tablet">论坛管理</li>
			             
                                <li><a class="ajax-link" href="getNotePagerServlet" target="contentIframe"><i class="icon-comment"></i><span class="hidden-tablet">&nbsp;查看用户帖子</span></a></li>

						<li class="nav-header hidden-tablet">admin管理</li>		
								<li><a class="ajax-link" href="allowAddAdminServlet" target="contentIframe"><i class="icon-plus-sign"></i><span class="hidden-tablet">&nbsp;添加管理员</span></a></li>
								<li><a class="ajax-link" href="getAdminPagerServlet" target="contentIframe"><i class="icon-align-justify"></i><span class="hidden-tablet">&nbsp;所有管理员</span></a></li>
                                            -->
					</ul>
				</div><!--/.well -->
			</div><!--/span-->
			<!-- left menu ends -->
			
			<noscript>
				<div class="alert alert-block span10">
					<h4 class="alert-heading">浏览器必须支持Javascript</h4>
					<p></p>
				</div>
			</noscript>

                        <div id="content" class="span9" style="margin-top: 0">
				<iframe name="contentIframe" scrolling="auto" frameborder="0" width="112%" height="150%" src="{$smarty.const.__CONTROLLER__}/defaultPage"></iframe>		
			</div>


		</div>
		<!--/fluid-row-->
	<!-- <?php include ("user-form.php"); ?>-->
		<hr>
        <footer>
			<p align="center">Copyright &copy; 2016 <a href="#">{$smarty.session.lang.COPYRIGHT_INFO}</a></p>
		</footer>	
	</div>
	{include file="../inc/jsall.html"}
  </body>
</html>