<!DOCTYPE HTML>
<html>
  <head>
    <title>商品回收站</title>
    <link rel="shortcut icon" href="favicon.ico">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	{include file="../inc/cssall_mobile.html"}
  </head>

  <body>
      <div data-role="page" >      
          <div data-role="main" >
                                        <div data-role="content">
                                                <i class="zmdi zmdi-account"></i>商品管理/<a href="{$smarty.const.__CONTROLLER__}/goodsList" data-ajax='false'>查看商品</a>/<a href="{$smarty.const.__CONTROLLER__}/goodsTrashList" data-ajax='false'>回收站</a>
                                        
 {if $ginfo|@count eq 0}   
        <p>暂无记录！</p>
 {else}  
 {$page}
    {foreach $ginfo as $k=>$v}<hr>
    <div class="mobile-table">
        <h1 class="nd2-title2 mobile-tr">序号：{$v.goods_id}<br>商品名：{$v.goods_name}</h1>
        <div class="mobile-tr-tds">
            <table>
                <tr><td width="25%">缩略图:</td><td><img src="{$smarty.const.WEB_URL}{$v.goods_thumb_url}" alt='pic'/></td></tr>
                <tr><td width="25%">商品名称:</td><td style="max-width: 15em">{$v.goods_name}</td></tr>
                <tr><td width="25%">原价:</td><td>{$v.goods_old_price}</td></tr>
                <tr><td width="25%">现价:</td><td>{$v.goods_now_price}</td></tr>
                <tr><td width="25%">产地:</td><td>{$v.goods_produce_place}</td></tr>
                <tr><td width="25%">品牌:</td><td>{$v.goods_brand}</td></tr>
                <tr><td width="25%">库存:</td><td>{$v.goods_num}</td></tr>
                <tr><td width="25%">生产日期:</td><td>{$v.goods_produce_date}</td></tr>
                <tr><td width="25%">创建时间:</td><td>{$v.create_time}</td></tr>
                <tr><td width="25%">上次更新:</td><td>{$v.last_update_time}</td></tr>
                <tr><td width="25%">操作</td><td>
                        <a href="###"  class="ui-btn ui-btn-inline clr-primary" title="删除"><i class='zmdi zmdi-edit'></i>删除</a>
                        <a href="javascript:void(0);" class="ui-btn ui-btn-inline clr-green" title="还原" onclick="saveData('{$v.goods_id}','valid_flag','1')"><i class='zmdi zmdi-refresh'></i>还原</a>
                    </td></tr>
            </table>
        </div>
    </div>
    {/foreach}
 {/if}
                                        </div>
          </div>
			<!--/#content.span9-->
                {include file="../inc/jsall_mobile.html"}
<script>
    var controller_path = '{$smarty.const.__CONTROLLER__}';
{literal}
function saveData(id, column, value) {
    if(!/^\d{7}$/.test(id)||!/^[A-Za-z_]+$/.test(column))
        return;
    $.ajax({ 
	url:controller_path+"/saveGoodsOneField/r="+new Date().getTime(), 
	type:"post", 
	data:{id:id,column:column,value:value},
	async:false,
	dataType:"json",
	success:function(data){
		if(data.retval == 'ok'){
                    location.reload();
		} else {
                    alert(data.retinfo);
                    return;
                }
	}
    });
}
{/literal}
</script>
      </div>
  </body>
</html>    	
    	
    	
    	
    	
    	
