  <footer>
    <div class="f_navigation">
      <div class="container_12">

        <div class="grid_3">
          <h3>服务保障</h3>
          <nav class="f_menu">
            <ul>
              <li><a href="###">正品保障</a></li>
              <li><a href="###">7天无理由退货</a></li>
              <li><a href="###">退货返运费</a></li>
            </ul>
          </nav><!-- .private -->
        </div><!-- .grid_3 -->

        <div class="grid_3">
          <h3>配送服务</h3>
          <nav class="f_menu">
            <ul>
              <li><a href="###">配送进度查询</a></li>
              <li><a href="###">配送范围及运费</a></li>
              <li><a href="###">自提服务</a></li>
              <li><a href="###">准时达</a></li>
            </ul>
          </nav><!-- .private -->
        </div><!-- .grid_3 -->

        <div class="grid_3">
          <h3>支付方式</h3>
          <nav class="f_menu">
            <ul>
              <li><a href="###">网银支付</a></li>
              <li><a href="###">支付宝、银联支付</a></li>
              <li><a href="###">信用卡支付</a></li>
              <li><a href="###">货到付款</a></li>
            </ul>
          </nav><!-- .private -->
        </div><!-- .grid_3 -->
        
        <div class="grid_3">
          <h3>联系我们</h3>
          <ul class="f_contact">
            <li>南京市</li>
            <li>025-12345678</li>
            <li>12345678@example.com</li>
          </ul><!-- .f_contact -->
        </div><!-- .grid_3 -->

        <div class="clear"></div>
      </div><!-- .container_12 -->
    </div><!-- .f_navigation -->

    <div class="f_info">
      <div class="container_12">
        <div class="grid_6">
          <p class="copyright" style="font-size: 12px">© 2015 {$smarty.session.web_lang.COPYRIGHT_INFO} 版权所有 　　　 <a target="_blank" href="{$smarty.const.ADMIN_URL}">后台管理</a></p>
        </div><!-- .grid_6 -->

        <div class="grid_6">
          <div class="bdsharebuttonbox" style="float:right;margin-top: 15px"><a href="#" class="bds_more" data-cmd="more"></a><a title="分享到微信" href="#" class="bds_weixin" data-cmd="weixin"></a><a title="分享到新浪微博" href="#" class="bds_tsina" data-cmd="tsina"></a><a title="分享到QQ空间" href="#" class="bds_qzone" data-cmd="qzone"></a><a title="分享到人人网" href="#" class="bds_renren" data-cmd="renren"></a><a title="分享到腾讯微博" href="#" class="bds_tqq" data-cmd="tqq"></a></div>
{literal}<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"一站式购物体验，尽在网上商城！","bdMini":"1","bdMiniList":["mshare","qzone","tsina","weixin","renren","tqq","ty","fbook","twi"],"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>{/literal}
        </div><!-- .grid_6 -->

        <div class="clear"></div>
      </div><!-- .container_12 -->
    </div><!-- .f_info -->
  </footer>

