<!DOCTYPE html>
<html>
    <head>
        <title>本站声明</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
        <div>
          <h1>隐私声明</h1>
        <br />
        &nbsp; &nbsp; &nbsp; &nbsp; 本站了解您关心您的信息是如何被使用和共享的。我们非常感谢您相信我们对此事处理的谨慎和敏感。本声明将阐述我们对隐私权保护的政策。本站由 <font color='blue'>{$smarty.const.WEB_NAME}</font> 进行运营。如果您注册了本站，那么您便接受了本隐私声明。<br />
<br />
<h4>
	1、我们采集客户的哪些个人信息？
</h4>
&nbsp; &nbsp; &nbsp; &nbsp; 我们从客户得到的信息将帮助我们使客户在本站的购物体验个性化而且不断得到提升。我们采集的信息种类如下：<br />
&nbsp; &nbsp; &nbsp; &nbsp; 您向我们提供的信息：我们收到并储存您登录在我们网站上的或以其他任何方式提供给我们的信息。您可以选择不提供某些信息，但是这样的话您可能就无法利用本网站进行购物活动。我们使用您提供的信息是为了回应您的要求，为您将来的采购度身定做，改善我们的商品库存以及与您进行信息沟通。<br />
&nbsp; &nbsp; &nbsp; &nbsp; 自动获取的信息：无论何时您与我们互动时，我们接收并储存特定的信息。例如，与其他许多网站一样，我们使用"Cookies"。当您的网络浏览器访问本站或访问本站在其它网站上提供的广告及其他内容时，我们将获得某些信息。<br />
&nbsp; &nbsp; &nbsp; &nbsp; 从其他来源获得的信息：我们可能从其他来源收到关于您的信息并且将其加入我们的客户信息库。<br />
<br />
<h4>
	2、什么是Cookies？
</h4>
&nbsp; &nbsp; &nbsp; &nbsp; Cookies 是一种我们能够通过您的网络浏览器在您的计算机硬盘上写入的由字母和数字组成的识别符号，从而能使我们的系统能够在您访问期间识别您的浏览器并提供各种个性化服务。<br />
&nbsp; &nbsp; &nbsp; &nbsp; 大多数浏览器上工具条中的帮助部分会告诉您怎样防止您的浏览器接受新的Cookies，怎样让您的浏览器在您收到一条新Cookies时通知您，或者怎样彻底关闭Cookies。不过，Cookies能让您充分利用本站最优秀的特色服务，所以我们建议您将其设置为打开状态。例如，如果你关闭或禁止接受我们的Cookies,您将不能使用您需要登录本站后才能使用的产品和服务。<br />
<br />
<h4>
	3、我们是否会与他人共享所收到的信息？
</h4>
&nbsp; &nbsp; &nbsp; &nbsp; 有关我们客户的信息是我们业务中重要的一部分，我们不会将其转卖给他人。我们只以下述方式与遵守本隐私声明或至少具有跟本隐私声明一样保护性惯例的其他战略合作伙伴共享用户信息。<br />
&nbsp; &nbsp; &nbsp; &nbsp; 第三方服务提供者：我们聘请其他公司和个人替我们履行某些职能。例如：处理订单、投递包裹、发送信函或电子邮件、清除客户名单中的重复信息、分析数据、提供市场营销帮助、提供搜索结果和链接（包括付费搜索名单和链接）、处理付款事项以及提供客户服务。他们能接触到为履行职责所需的个人信息，但不能用于其他目的。<br />
&nbsp; &nbsp; &nbsp; &nbsp; 促销机会：有时我们代表其他企业向所选定的本站客户群提供促销活动的机会。如果我们这样做时，我们不会向这家企业披露您的姓名和地址。如果您不想收到这些促销信息，请调整您的客户通讯选项。<br />
&nbsp; &nbsp; &nbsp; &nbsp; 业务转让：为持续发展我们的业务，我们可能会出售或收购商店或者业务部门。在这些交易中，客户信息一般是所转让企业资产中的一部分，但这些信息（当然除非客户做出其他同意）仍然受制于转让前已有的任何隐私声明做出的承诺。如果本站的全部资产被收购时，客户信息应是被转让资产的一部分。<br />
&nbsp; &nbsp; &nbsp; &nbsp; 本站和其他人的保护：为了遵守法律、执行或适用我们的使用条件和其他协议，或者为了保护本站、我们的用户或其他人的权利及其财产或安全，我们可能会公开账户或其他个人信息。这包括为防止欺诈等违法活动和减少信用风险而与其他公司和组织交换信息。不过很明显，这并不包括违反本隐私声明中所作的承诺而为商业目的而出售、出租、共享或以其它方式披露个人可识别的信息。<br />
&nbsp; &nbsp; &nbsp; &nbsp; 征得您的同意：除以上规定之外，当有关您的信息有可能披露给第三方时，您将会得到通知，并且您将有机会选择不与第三方共享此信息。<br />
<br />
<h4>
	4、关于我的信息有多安全？
</h4>
&nbsp; &nbsp; &nbsp; &nbsp; 在信息交换的过程中，我们通过使用相关技术信息进行加密，从而努力保护您的信息的安全性。&nbsp;<br />
防止他人未经授权使用您的密码或进入您的计算机是非常重要的。因此，您应确保在与他人共用一台计算机时，使用完毕后即时退出登录。<br />
<br />
<h4>
	5、是否允许未成年人使用本站？
</h4>
&nbsp; &nbsp; &nbsp; &nbsp; 本站不向未成年人销售产品。我们向成年人销售儿童用品，如果您不满18岁，只有在父母或监护人参与的情况下您才能使用本站。<br />
<br />
<h4>
	6、使用条件、声明和修订
</h4>
&nbsp; &nbsp; &nbsp; &nbsp; 如果您选择访问本站，您的访问和有关隐私的争议将受制于本声明和我们的使用条件，包括对赔偿的限制、争议解决和中华人民共和国法律的适用。如果您有任何对本站上有关隐私的问题，请联系我们并作充分描述，我们将尽力解决之。<br />
<br />
&nbsp; &nbsp; &nbsp; &nbsp; 我们的业务时常变化，我们的隐私声明和使用条件也随之变化。我们会通过电子邮件或其他方式周期性地提醒您我们的声明和条件，除非您指示我们不要这样做，但您应经常登录我们的网站了解最近的变化。除另有声明外，我们现行的隐私政策适用于我们关于您和您的账户的所有信息。我们坚守我们做出的承诺，未经有关客户同意我们决不会对我们的政策和惯例作重大修改以至于降低对客户信息的保护程度。<br />  </div>
        </div>
    </body>
</html>
